h3 {
    color: cyan;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

hr {
    border: 1px solid black;
}

a:link {
    color: cyan;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: red;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
}

.a2 {
    border: 1px solid black;
    margin-top: 10px;
}

.menu {
    color: white;
    text-align: center;
    padding-top: 0px;
    background-image: url('../image/BackgroundImage.jpg');
}

.bullets {
    vertical-align: middle;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 30px;
    height: 100%;
    align-content: space-between;
    justify-content: space-evenly;
}
.grid-container > div {
    text-align: center;
    font-size: 30px;
}

#contactInfo {
    color: white;
    text-align: center;
    padding-top: 100px;
}

#placeholder1 {
    width: 70%;
    padding-top: 30px;
}

#placeholder2 {
    width: 60%;
    padding-top: 30px;
}

#placeholder3 {
    width: 80%;
    padding-top: 30px;
}

#placeholder4 {
    width: 70%;
    padding-top: 30px;
}

#placeholder5 {
    width: 80%;
    padding-top: 30px;
}